APP_ENV=dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=postgres
DB_HOST=postgres
DB_PORT=5432
DATABASE_URL=postgres://postgres:your_pass@postgres:5432/postgres?sslmode=disable
REDIS_ADDR=redis:6379
KAFKA_BROKERS=kafka:9092
KAFKA_POSTS_TOPIC=posts
OUTBOX_POLL_INTERVAL=1s
OUTBOX_RETRY_DELAY=5s
OUTBOX_MAX_ATTEMPTS=5
OUTBOX_BATCH_SIZE=10
